[Unit]
Description=GStreamer Service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/Selk-Companion-Computer
Restart=on-failure
ExecStart=/bin/true
User=pi

[Install]
WantedBy=multi-user.target
